html {
    font-family: 'Poppins', sans-serif;
    background: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.library {
    display: grid;
    gap: 25px;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 0.25fr);
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.newBookButton {
    background-color: azure;
    border: none;
    border-radius: 10px;
    height: 5ch;
    font-size: large;
    width: 20ch;
    grid-column-start: 1;
    grid-column-end: 4;
}

.page {
    background-color: rgb(51, 169, 35);
    border: 3px solid black;
    color: white;
    border-radius: 10px;
}

.page > button {
    width: 10vw;
    height: 7vh;
    font-size: large;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}

.read-button-yes {
    background-color: cornflowerblue;
}

.read-button-no {
    background-color: rgb(192, 0, 0);
}

.book-modal {
    padding: 20px;
}

input, .submit {
    width: 100%;
    box-sizing: border-box;
}

.book-modal:modal {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1em rgb(0, 0, 0 / 0.3);
    width: 50ch;
}

.book-modal::backdrop {
    background: linear-gradient(45deg, red, blue);
    opacity: 0.4;
}

form {
    display: grid;
    gap: 10px;
}

#isReadDiv {
  display: flex;
  justify-content: center;
}

#read {
    width: 20px;
}
